* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.register {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: url('https://images.wallpaperscraft.com/image/single/lake_forest_snow_130421_1280x720.jpg');
}
.login {
    top: 22rem;
    left: 60rem;
    position: relative;
    transform: translate(-50%, -50%);
    background: url('https://images.wallpaperscraft.com/image/single/lake_forest_snow_130421_1280x720.jpg');
}
@media(max-width:750px)
{
    .login {
        top: 32rem;
        left: 10rem;
        position: relative;
        transform: translate(-50%, -50%);
        background: url('https://images.wallpaperscraft.com/image/single/lake_forest_snow_130421_1280x720.jpg');
        height: 100%;
        width: 100%;
    }
}
@media(max-width:750px)
{
    .register {
        top: 80%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background: url('https://images.wallpaperscraft.com/image/single/lake_forest_snow_130421_1280x720.jpg');
        height:100%;
        width :100%
    }
    
    }

.container1 {
    height: 500px;
    width: 650px;
    box-shadow: 0px 30px 40px black;
    display: flex;
    border-radius: 10px;
}

.image {
    flex: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://images.wallpaperscraft.com/image/single/lake_forest_snow_130421_1280x720.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image h1 {
    margin-top: 50%;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

span {
    color: chartreuse;
}

.content {
    flex: 50%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content h1 {
    padding: 40px;
    padding-top: 10px;
    font-family: 'Niconne', cursive;
    font-size: 40px;
    color: #c446c9;
}

.form-group {
    padding: 10px;
}

.form-group1 input {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #c446c9;
    background: none;
    padding: 10px;
    width: 100%;
    transition: .2s;
}

.form-group1 input:active,
.form-group1 input:focus,
.form-group1 input:hover {
    outline: none;
    border-bottom-color: #6A679E;
}

.fp {
    position: absolute;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 0.3s;
    left: 480px;
}
.fp1{
    position: relative;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 0.3s;
    left: -50px;
}
.reg {
   
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    transition: 0.3s;
   
}

.fp:hover {
    color: #c446c9;
}
.fp1:hover {
    color: #c446c9;
}

.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  margin-top: 60px;
  margin-left: 110px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(167, 20, 135) 0%, rgb(247, 102, 216) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
  .bn11 {
	display: inline-block;
	padding: 0.5em 1.7em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255, 255, 255, 0);
	background-color: rgb(179, 65, 84);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #ffffff;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	text-align: center;
	transition: all 0.2s;
	position:absolute;
	top:85%;
	left:65%
	
  }
  link.bn11:hover {
	border-color: rgb(255, 255, 255);
  }
  
.container75 {
    height: 600px;
    width: 700px;
    box-shadow: 0px 30px 40px black;
    display: flex;
    border-radius: 10px;
}

